*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    letter-spacing: normal;
    line-height: 1.6;
}
body{
    background-color: #B2BEB522;
}

header{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  background-color: #B2BEB513;
  padding: 10px;
   /*
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
    */
}

header > *{
  margin: 5px 4%;
}

header h3{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7rem;
  color: red;
  font-family: cursive;
  position: relative;
}
header .logo span{
  font-family: cursive;
}

header h3::after{
  content: "";
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: blue;
  bottom: -5px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

header .logo span{
  color: blue;
}

.toggle{
  display: none;
}

 .toggle span{
  margin: 8px 0;
  height: 3px;
  background-color: blue;
  width: 45px;
  display: block;
}

/* .toggle .line-1{
  width: 30px;
}

.toggle .line-2{
  width: 50px;
}

.toggle .line-3{
  width: 70px;
} */



header .menu{
  display: flex;
  gap: 1.5rem;
}


header a{
  border: 1px solid red;
  text-decoration: none;
  padding: 4px 9px;
  border-radius: 5px;
  color: red;
}

header a:hover{
  background-color: #00800033;
}

h1{
  text-align: center;
  margin-top: 50px;
  color: #333;
  

}
.queries{
    display: flex;
    justify-content: center;
    margin: 50px 15%;
    align-items: center;
    gap: 2rem;
    color: #333;
}
.queries label{
    font-size: 1.2rem;
    font-weight: bold;
}
.queries input{
    height: 35px;
    font-size: 1.1rem;
    padding: 0 5px;
    border: 2px solid #121212;
    border-radius: 3px;
}


.queries button{
    padding: 2px 8px;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #00800099;

}

.queries button:hover{
  background-color: 	#00800088;
}

#results {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    flex-wrap: wrap;
    margin: 50px auto;
    color: #121212;
  
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    flex: 1 1 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card img {
    margin-bottom: 8px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }

  .card h2 {
    font-size: 24px;
    margin-bottom: 8px;
  
  }

  .card p {
    margin-bottom: 8px;
  }

  .card pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-bottom: 8px;
    font-weight: 400;

  }

  .card a {
    width: max-content;
    color: #f2f2f2;
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    background-color: #007bff;
  }

  @media (width <= 1110px){
    #results{
      flex-direction: column;
      margin: 5%;
    }
  }

  @media (width <= 873px){
    .queries{
      display: block;
      margin: 20px;
    }
    .queries > *{
      margin: 20px;
    }
    .queries input{
      width: 100%;
  
    }

  }

  @media (width <= 648px){
    header a{
      display: none;
    }

    .toggle{
      display: block;
    }
      
    #results{
      width: 95%;
      margin: auto;
   }
   
    
  }
